@import "mixins";

a {
  color: $a_link;
  text-decoration: none;

  &:visited {
    color: $a_visited;
  }

  &:hover {
    color: $a_hover;
  }

  &[href^=tel]{
    border-bottom: none;
  }
}

html {
  background: url('../images/image.jpg') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1, h2, h3, h4 {
    margin: 0;
  }

  h1 {
    font-family: "franklin-gothic-urw-comp";
    font-size: 3em;
    color: #fff;
  }

  h2 {
    font-family: "ocr-a-std";
  }

  h3 {
    font-family: "brandon-grotesque";
  }

  h4 {
    font-family: "museo-sans-rounded";
  }
}


.container {
  padding: 15px;

  .left {
    float: left;
  }

  .right {
    float: right;

  }

  button {
    background-color: transparent;
    border: none;
  }

  .menu {
    display: none;
    background-color: #fff;
    width: 50%;
    text-align: center;
    margin: 100px auto;
    padding: 50px;
    overflow: auto;
  
    h2 {
      padding-bottom: 15px;
      font-size: 1.5em;
    }
    
    p {
      font-size: 1.2em;
      padding-bottom: 8px;
    }
    h2, p {

      font-family: "ocr-a-std";
    }


  &.active {
    display: block;
    }
  }
}







