@import "mixins";

a {
  color: $a_link;
  text-decoration: none;

  &:visited {
    color: $a_visited;
  }

  &:hover {
    color: $a_hover;
  }

  &[href^=tel]{
    border-bottom: none;
  }
}

html {
  background: url('../images/image.png') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "franklin-gothic-urw-comp";

  h1, h2, h3, h4 {
    margin: 0;
  }

    @media screen and (min-width: 768px) { 
        background: url('../images/image-small.gif') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }
}

  .container {
    font-family: "jubilat";

    .left {
      width: 100%;
      text-align: center;

      h1 {
        font-family: "franklin-gothic-urw-comp";
        font-weight: 400;
        letter-spacing: 5px;
        font-size: 4em;
        color: #fff;
      }

      p {
        font-weight: 700;
        color: #000;
        text-align: right;
      }
    }

    .excerpts {
      width: 100%;
      @include box-sizing;
      @include clearfix;

      .excerpt {
        width: 100%;
        margin: 0 auto;
        padding: 0 0 50px 0;

        .title {
          text-align: center;

          p {
            font-family: "franklin-gothic-urw-comp";
            color: #fff;
            font-size: 5em;
          }
        }
      }
    }

    .buttons {
      padding: 50px 10px 50px 10px;
      background-color: #000;
      width: 100%;
      @include clearfix;
      @include box-sizing;

      .button, .button2, .butt {
        padding: 0 20px 0 20px;
        width: 25%;
        float: left;
        @include box-sizing;

        img {
          width: 100%;
        }
      }
    
      .button-close {
        width: 30%;
        margin: 0 auto 30px auto;

        img {
          width: 100%;
        }
      }

      .menu-box, .menu-box2 {
        display: none;
        color: #fff;
        text-align: center;

        h2 {
          font-size: .8675em;
          padding: 0 0 20px 0;

          a {
            color: inherit;
          }

          a:hover {
            color: #ff88ff;
          }
        }
      }
    }

  }

  @media screen and (min-width: 768px) {
    .container {
      padding: 15px;
      position: relative;
      font-weight: 300;
      width: 100%;
      @include clearfix;
      @include box-sizing;

    .left {
      width: 25%;
      float: left;
      position: fixed;
      top: 15px;
      @include box-sizing;
      @include clearfix;
    }

    .excerpts {
      margin-left: 25%;
      padding-bottom: 300px;
      width: 50%;
      float: left;
      @include box-sizing;
      @include clearfix;

      .excerpt {
        width: 50%;
        margin: 0 auto;

        .title {
          text-align: center;

          p {
            font-family: "franklin-gothic-urw-comp";
            color: #fff;
            font-size: 5em;
          }
        }
      }
    }

    .buttons {
      background-color: transparent;
      width: 25%;
      float: left;
      @include box-sizing;
      @include clearfix;

      .button, .button2, .butt {
        display: block;
        float: none;
        width: 40%;
        margin: 0 0 50px auto;

        img {
          display: block;
          width: 100%;
        }
      }

      .button-close {
        width: 40%;
        margin: 0 0 50px auto;

        img {
          width: 100%;
        }
      }

      .menu-box, .menu-box2 {
        display: none;
        text-align: right;

        h2 {
          font-size: 1em;
          padding: 0 0 20px 0;

          a {
            color: inherit;
          }

          a:hover {
            color: #ff88ff;
          }
        }
      }
    }
  }
}










