@import "mixins";

a {
  color: $a_link;
  text-decoration: none;

  &:visited {
    color: $a_visited;
  }

  &:hover {
    color: $a_hover;
  }

  &[href^=tel]{
    border-bottom: none;
  }
}

.inner {
  padding: 15px;
  font-family: "brandon-grotesque";
}







