/*
  Colors
*/
/*
  Base sizing
*/
/* 16 is a sensible base. Leave this value. */
/*
  Defaults
*/
/*
  Mixins
*/
/* line 3, ../sass/style.scss */
a {
  color: #000;
  text-decoration: none;
}
/* line 7, ../sass/style.scss */
a:visited {
  color: #000;
}
/* line 11, ../sass/style.scss */
a:hover {
  color: #f22424;
}
/* line 15, ../sass/style.scss */
a[href^=tel] {
  border-bottom: none;
}

/* line 20, ../sass/style.scss */
.inner {
  padding: 15px;
  font-family: "brandon-grotesque";
}
